drupal:
  root: "web"
  base_url: ${env.DRUPAL_BASE_URL}
  site:
    profile: "oe_profile"
    name: "My OpenEuropa site"
    generate_db_url: false
  account:
    name: ${env.DRUPAL_ACCOUNT_USERNAME}
    password: ${env.DRUPAL_ACCOUNT_PASSWORD}

toolkit:
  drupal:
    settings: &settings |
      $databases['default']['default'] = array (
        'database' => getenv('DATABASE_NAME'),
        'username' => getenv('DATABASE_USERNAME'),
        'password' => getenv('DATABASE_PASSWORD'),
        'prefix' => getenv('DATABASE_PREFIX'),
        'host' => getenv('DATABASE_HOST'),
        'port' => getenv('DATABASE_PORT'),
        'namespace' => 'Drupal\\Core\\Database\\Driver\\mysql',
        'driver' => 'mysql',
      );

      $config_directories['sync'] = '../config/sync';

      if (file_exists($app_root . '/' . $site_path . '/settings.override.php')) {
        include $app_root . '/' . $site_path . '/settings.override.php';
      }

selenium:
  host: "http://selenium"
  port: "4444"
  browser: "chrome"

commands:
  drupal:site-setup:
    - task: "copy"
      from: "${drupal.root}/sites/default/default.settings.php"
      to: "${drupal.root}/sites/default/settings.php"

    - task: "append"
      file: "${drupal.root}/sites/default/settings.php"
      text: *settings

    - { task: "run", command: "setup:behat" }

  setup:behat:
     - { task: "process", source: "behat.yml.dist", destination: "behat.yml" }

  drupal:build-dist:
    - { task: "remove", file: "dist" }
    - { task: "mkdir", dir: "dist" }
    - { task: "copy", from: "config", to: "dist/config" }
    - { task: "copy", from: "composer.json", to: "dist/composer.json" }
    - { task: "copy", from: "composer.lock", to: "dist/composer.lock" }
    - 'composer install --no-dev --optimize-autoloader --working-dir=dist'

    - task: "copy"
      from: "dist/${drupal.root}/sites/default/default.settings.php"
      to: "${drupal.root}/sites/default/settings.php"

    - task: "append"
      file: "dist/${drupal.root}/sites/default/settings.php"
      text: *settings
