project:
  id: myproject
  name: myname
  mail: myemail
  url: production_url
drupal:
  root: "drupal-site-test/web"
  base_url: "http://web:8080/drupal-site-test/web"
  database:
    host: "mysql"
    port: "3306"
    name: "openeuropa_site"
    user: "root"
    password: ""
  site:
    profile: "oe_profile"
    name: "My OpenEuropa site"
  settings:
    config_directories:
      sync: '../config/sync'

selenium:
  host: "http://selenium"
  port: "4444"
  browser: "chrome"

commands:
  drupal:site-setup:
    - { task: "run", command: "drupal:drush-setup" }
    - { task: "run", command: "drupal:settings-setup" }
  drupal-dev:site-setup:
    - { task: "run", command: "drupal:site-setup" }
    - { task: "symlink", from: "lib/modules", to: "${drupal.root}/modules/custom" }
    - { task: "symlink", from: "lib/themes", to: "${drupal.root}/themes/custom" }
    - { task: "symlink", from: "lib/profiles", to: "${drupal.root}/profiles/custom" }
    - { task: "run", command: "drupal-dev:test-setup" }
  drupal-dev:test-setup:
    - { task: "process", source: "behat.yml.dist", destination: "behat.yml" }
